* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: black;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}



.btn {
    height: 50px;
    width: 100px;
    background-color: blue;
    color: bisque;
}