
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(34, 34, 34);
}
.box{
    height: 300px;
    width: 300px;
    border: 2px solid wheat;
    margin: 50px;
}
.btn {
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    background: white;
    border: none;
    border: 0.5px solid black;
    border-radius: 5px;
}