* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 3rem;
    color: rgb(6, 168, 6);
}


