* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(70, 70, 70);
    color: white;
    font-family: monospace;
}

main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    background-color: black;
    padding: 30px;
    border-radius: 20px;
}

.card p {
    padding-bottom: 30px;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-align: center;

}

.outer {
    width: 100%;
    height: 0.5rem;
    background: rgb(180, 180, 180);
    margin-bottom: 40px;
    border-radius: 5px;  
}

.inner {    
    background: green;
    height: 0.5rem;
    margin-bottom: 40px;
    border-radius: 5px; 
}

.content {
    display: flex;
    justify-content: space-between;
}
h1 {
    font-size: 3rem;
    font-weight: 400;
}
button {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    background: green;
    color: white;
    cursor: pointer;
}
button:active{
    scale: 1.1;
}